body{background:#f1f1f1;font-size:14px;line-height:1.5}
ol,ul{padding-left:1.5em;list-style-position:outside}
p{margin-bottom:14px}
.main{min-width:860px;padding-bottom:40px}
.text-12{font-size:12px}
.hide{display:none}
.flex{display:flex}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none!important}
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none!important}
input[type=number]{-moz-appearance:textfield}
#preview-wrap{min-height:50px;background:#fff}
#preview-wrap img{max-width:100%}
.preview-content{border:0 solid transparent}
.wrap{width:1000px;max-width:100%;margin:0 auto;padding:10px 0}
.split-span{box-shadow:0 0 0 3px #f0f}
.split-span1{box-shadow:0 0 0 1px #f0f}
.color-input{display:inline-block;width:56px;vertical-align:middle}
.block{padding:16px}
.block:nth-child(2n+1){background:#e5e5e8}
.no-search .select2-search{display:none}
.select2-img{width:32px;vertical-align:middle}
#toImgWrap .select2-img{box-shadow:0 0 6px rgba(0,0,0,.2)}
.select2-selection__rendered .select2-img{width:24px}
.select2-container .select2-selection--single{height:30px!important}
.setting-wrap{margin-bottom:12px;padding:16px 0;border:1px solid #aaa}